@import '../base.scss';

#role-manage {
  width:100%;
	padding: 10px 24px;
  background: $content-bgColor;
  .filterType {
  	.typeName {
  		color: #323232;
  		font-size: 12px;
  	}
  	.typeNameEdit {
  		color: #3D90F8;
  		font-size: 12px;
  		margin-left: 24px;
  		border-bottom: 1px solid #3D90F8;
  		cursor: pointer;
  	}
  }
  .filterTypeDialog {
  	.filterTypeContent {
  		padding: 0 24px;
  		color: #323232;
  		font-size: 12px;
  		.title {
  			display: flex;
  			justify-content: space-between;
  			align-items: center;
  			.one {
  				display: inline-block;
  				width: 33.33%;
  				text-align: left;
  			}
  		}
  		.content {
  			.oneFilter {
  				margin-top: 5px;
  				.oneFilterInput{
	  				width: 208px;
	  				.el-input__inner {
	  					height: 24px;
	  					color: #323232;
	  					font-size: 12px;
	  					border-radius: 0;
	  				}
	  			}
	  			.split {
	  				font-size: 18px;
	  				margin: 0 5px;
	  			}
	  			.close{
	  				display: inline-block;
	  				cursor: pointer;
	  				width: 16px;
	  				height: 16px;
	  				background: url('../../assets/image/de.png') no-repeat;
						background-size: 100% 100%;
						float: right;
	    			margin-top: 5px;
	  			}
	  			.oneFilterErr{
	  				height: 16px;
	  				line-height: 16px;
	  				display: flex;
		  			justify-content: space-between;
		  			align-items: center;
		  			span {
		  				display: inline-block;
		  				width: 33.33%;
		  				color: #CC3D3D;
	  					font-size: 12px;
		  				text-align: left;
		  			}
	  			}
  			}
  		}
  		.bottom {

  		}
  	}
  }
 	.clearCheckbox .el-tree-node__content .el-tree-node__expand-icon {
  	display: none;
  }
  .clearCheckbox .el-tree-node__content span {
  	margin-left: 8px;
  }
  .el-transfer .el-transfer-panel__body {
  	.el-transfer-panel__list {
  		overflow: hidden!important;
  	}
  		overflow-x: hidden!important;
  		.el-transfer-panel__item.el-checkbox {
		  	width: 100%;
		  	float: left;
		  }
  }
  /*.clearCheckbox .el-tree-node__content .el-tree-node__expand-icon {
  	display: none;
  }
  .clearCheckbox .el-tree-node__content span {
  	margin-left: 8px;
  }*/
  .select-container {
    color: $new-font-color;
    padding: 10px 0;
    display:flex;
    flex-direction:row;
    .el-button {
      padding: 8px 15px;
      border-radius: 2px;
      font-size: 12px;
      background: $y-color;
    }
    .el-button:hover{
      background:rgba(61,144,248,0.8);
    }
    .el-select{
      padding-left:10px;
      margin-right: 32px;
      .el-input {
      		.el-input__inner{
		        width:160px;
		        background:$input-color;
		        border:0;
		        color:$new-font-color;
		        border-radius:2px;
		        font-size:12px;
		      }
		      .el-input__icon{
		        line-height: 1;
		      }
      }
    }
  }
  .table-container{
  		overflow: auto;
    	padding: 10px 0;
	    .el-table {
	    	width: 100%;
	      background: transparent !important;
	      th {
	        background: #EBF4FC;
	        color: $new-font-color;
	        text-align: center;
	        font-size: 12px;
	        border: none;
	        border-right: 1px solid #fff;
	      }
	      tr {
	      	th {
	      			padding: 6.5px 0;
	      	}
	        td {
	        	padding: 12px 0;
	          font-size: 12px;
	          color: $new-font-color;
	          background: $content-bgColor;
	          border-bottom: $td-border;
	          text-align: center;
	          .txt_underline {
	            color: $y-color;
	            text-decoration: underline;
	            cursor: pointer;
	          }
	          .iconfont {
	          	color: $y-color;
	          	margin: 0 7px;
	          	font-size: 16px;
	          	cursor: pointer;
	          }
	          .el-icon-edit {
	          	color: $y-color;
	          	margin: 0 7px;
	          	font-size: 16px;
	          	cursor: pointer;
	          }
	          .el-icon-delete{
	            color: $y-color;
	          	margin: 0 7px;
	          	font-size: 16px;
	          	cursor: pointer;
	          }
	        }
	      }
	    }
    }
    #copyDialog {
    		.el-dialog {
    				height: 345px;
    				.el-dialog__footer {
    						margin-top: 170px;
    				}
    		}
    }
    #deleteDialog {
    		height: 100%;
    		.el-dialog {
    			 min-height: 171px;
    		}
    		.deleteProject {
    				color: #323232;
    				font-size:14px;
    				line-height:20px;
    				width: 458px;
    				margin: 0 auto;
    				text-align: center;
    				span{
    						color: $y-color;
    				}
    		}
    		.el-dialog__footer {
    				padding: 24px;
    				padding-top: 24px;
    				text-align: right;
    				.el-button:first-child {
    						margin-right: 10px;
    				}
    		}
    }
    #detailDialog {
    		height: 100%;
    		.el-dialog {
    			 min-height: 400px;
    		}
    		.detailFont {
    			 color: "#323232";
    			 font-size:12px;
    			 margin: 16px 0 0 24px;
    			 overflow: hidden;
    			 .detailDates {
    			 		width: 655px;
    			 		padding-right: 15px;
					    float: right;
					    line-height: 17px;
    			 }
    			 .span {
    			 		float: left;
    			 }
    			 .el-tree {
    			 		float: left;
    			 		width: 80%;
    			 		background: #fff;
    			 		margin: -2px 0 0 -8px;
    			 		padding-bottom: 46px;
    			 		.el-tree-node__content:hover {
	    						background: #fff;
	    				}
	    				.el-tree-node:focus > .el-tree-node__content {
									background-color: transparent !important;
							}
							.el-tree-node__content {
									height: 20px;
									cursor: auto;
    							span {
    								font-size: 12px;
    								line-height: 17px;
    							}
							}
    			 }
    		}
    		.detailInnerFont {
    				color: "#323232";
	    			font-size:12px;
	    			margin: 8px 0 0 86px;
    		}
    }
    .plusProModel{
    	.el-dialog__title {
    		font-weight: bold;
    	}
    	.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
    		 font-size: 12px!important;
    	}
    	.appName {
    			color: #323232;
    			font-size: 12px;
    			line-height: 17px;
    			font-weight: bold;
    	}
    	.logooutTooltip {
    			color: #ADADAD;
    			font-size: 12px;
					line-height:17px;
					margin-top:-16px;
					padding:5px 0 5px 30px;

    	}
    	.el-scrollbar__wrap {
					box-sizing: border-box;
	        overflow-x: hidden;
	        padding-right: 5px;
			}
			.emptyDate {
					position: absolute;
				 	color: #CC3D3D;
				 	font-size:12px;
				 	line-height: 17px;
			}
      .el-dialog{
        /*min-height: 400px;*/
       /*.el-dialog__title {
       		font-weight: bold;
       }*/
        .el-form {
					.el-radio__label{
						font-size:12px;
					}
          .el-form-item{
          	padding: 2px 20px;
            margin-bottom: 16px;
            .el-form-item__label{
              line-height:24px;
            }
            .el-form-item__content{
              line-height:24px;
              .el-input{
                .el-form-item__error{
                  width: 100% !important;
                  line-height:18px !important
                }
              }
            }
            .el-select {
				    		width: 100%;
				    }
          }
          .el-form-item__label {
            text-align:left;
          }
          .el-input{
            width: 100%;
          }
          .el-input__inner {
            width: 100%;
            padding: 0 6px;
          }
          .el-input__suffix {
          		right: 0;
          }
        }
        .el-dialog__body {
        		padding: 0 0px;
        		.el-transfer-panel .el-transfer-panel__header {
        			 background: #ECECEC;
        			 border-bottom: 1px solid #A4A4A4;
        		}
        		/*穿梭框*/
        		.el-transfer {
        				margin-top: 4px;
        				.el-transfer-panel__body {
        						height: 185px;
        				}
        				.el-transfer-panel {
		        			 width: 280px;
		        			 background: #ECECEC;
		        		}
		        		.el-transfer__buttons {
                   padding: 0 18px;

                   .el-button{
                    padding: 0;
                    width: 24px;
                    margin: 10px auto;
                    height: 24px;
                    border-radius: 12px;
                    display: block;
                   }
		        		}
		        		.el-transfer__button.is-disabled.el-button--primary {
                  background: #9EC7FB;
		        		}
		        		.el-transfer__button.is-disabled:hover {
		        				background: #9EC7FB;
		        		}
		        		.el-transfer__button i, .el-transfer__button span {
		        				color: #FFFFFF;
		        		}
        		}
        		/*树形*/
        		.el-tree {
        				margin-top: 4px;
								background: #ECECEC;
								min-height: 350px;

        				.el-tree-node__content:hover {
        						background: #ECECEC;
        				}
        				.el-tree-node:focus > .el-tree-node__content {
									background-color: transparent !important;
								}
        		}
        }
        .el-dialog__footer {
				    width: 100%;
        }
      }
    }

}
/*上面提示*/
.el-tooltip__popper.is-dark{
  background: rgba(255, 255, 255, 1)!important;
  color: #323232!important;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1)!important;
}
.el-tooltip__popper[x-placement^="top"] .popper__arrow {
  border-top-color: rgba(255, 255, 255, 1)!important;
}
.el-tooltip__popper[x-placement^="top"] .popper__arrow::after {
  border-top-color: rgba(255, 255, 255, 1)!important;
}

