@import "./base.scss";

#main{
  height: 100%;
  overflow: hidden;
  .logo-container {
    height: 70px;
    line-height: 70px;
    text-align: center;
    span.logoName{
      font-size: 24px;
      color: #fff;
    }
    // img {
    //   width: 160px;
    // }
  }
  .el-main {
    .nav-title {
      height: 36px;
      padding: 14px 0 0 16px;

      .breadcrumb-inner{
        span{
          cursor: pointer;
          i{
            font-style: normal;
          }
        }
      }
    }
  }
  .setting .el-dropdown-menu__item:not(.is-disabled):hover, .setting .el-dropdown-menu__item:focus {
      color: #0FADFF;
      background: #f3f3f3;
  }
  .platforms .el-dropdown-menu__item:not(.is-disabled):hover, .platforms .el-dropdown-menu__item:focus {
      color: #0FADFF;
      background: #f3f3f3;
  }
  .com-height .el-dropdown-link {
      cursor: pointer;
      font-size: 12px;
      color: #323232;
  }
  .el-icon-arrow-down {
      font-size: 12px;
  }
  .com-height .el-dropdown-menu__item {
      list-style: none;
      line-height: 36px;
      padding: 0 10px;
      margin: 0;
      font-size: 12px;
      color: #606266;
      cursor: pointer;
      outline: 0;
  }
  .parent-col .el-breadcrumb__inner {
      color: #3d90f8;
      font-size: 12px;
  }
  .default-col .el-breadcrumb__inner {
      color: #adadad;
      font-size: 10px !important;
  }
  .default-col .el-breadcrumb__inner:hover {
      color: #adadad;
      font-size: 10px !important;
  }
  .el-dropdown-menu.el-popper[x-placement^="bottom"] {
      margin-top: 8px !important;
  }
  .el-popper[x-placement^="bottom"] {
      margin-top: 8px !important;
  }
  .com-height .el-dropdown-menu {
      margin: 5px 0;
  }
  .breadcrumb-container .el-breadcrumb__item:last-child .el-breadcrumb__inner {
      color: #adadad;
      font-size: 10px !important;
  }
  .breadcrumb-container
  .el-breadcrumb__item:last-child
  .el-breadcrumb__inner:hover {
      color: #adadad;
      font-size: 10px !important;
  }
  .select-addr .ivu-input {
      background: #0fadff !important;
      color: #fff;
      border: 1px solid #0fadff;
      outline: none;
  }
  .select-addr .ivu-cascader-arrow {
      color: #fff;
  }
  #passwordDialog .el-dialog {
      height: 345px;
      .btn{
        text-align: center;
        margin-top: 30px;
        .el-button{
          padding: 7px 25px;
          font-size: 12px;
        }
        .el-button:last-child{
          margin-left: 30px;
        }
      }
  }
  #passwordDialog .el-dialog__footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
  }
  .el-container {
    height: 100%;
  }
  .el-aside {
    background-color: $aside-bgColor;
    color: $font-color;
    height: 100%;
  }
  .el-header {
    background-color: $header-bgColor;
    color: $new-font-color;
    height: 44px !important;
    line-height: 44px;
  }
  .el-main {
    background: $container-bgColor;
    color: $font-color;
    height: calc(100% - 44px);
    padding: 0;
    overflow: hidden;
  }
  .content-wrapper {
    height: calc(100% - 36px);
    overflow: auto;
    padding: 0 16px 12px;
  }
  .com-height {
    height: 44px;
    line-height: 44px;
    .el-icon-arrow-up,.el-icon-arrow-down {
      font-size: 16px;
    }
  }

  .relative {
    position: relative;
    top: 1px;
  }
  .select-addr {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
  }

  .fade-enter {
    opacity: 0;
  }
  .fade-leave {
    opacity: 1;
  }
  .fade-enter-active {
    transition: opacity 0.3s;
  }
  .fade-leave-active {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .el-form-item__error{
    padding-top: 0;
  }
  // .plusProModel{
  //   .el-form-item{
  //     margin-bottom: 14px;
  //   }
  // }
}
